.embedFull-2tM8-- {
  max-width: 476px;
  border-left-width: 3px;
  box-shadow: 1px 0 0 1px var(--background-floating);
}
.embedFull-2tM8-- .grid-1nZz7S {
  padding: 4px 8px 8px;
}
.embedFull-2tM8-- .embedMargin-UO5XwE {
  margin-top: 2px;
}
.embedFull-2tM8-- .embedFields-2IPs5Z {
  margin-top: 3px;
}
.embedFull-2tM8-- .embedMedia-1guQoW {
  margin-top: 4px;
}
.embedFull-2tM8-- .embedAuthor-3l5luH {
  font-size: 0.8rem;
}
.embedFull-2tM8-- .embedTitle-3OXDkz {
  font-size: 0.9rem;
  font-weight: normal;
}
