/** ---- New Nihilism v1.0.1 by Observer of Time ---- **/

/** ---- Features ----
 *  Compact lists
 *  Rounded square avatars
 *  Status borders
 *  Bigger emoji
 *  Hide blocked messages
 *  Hide apps button
 *  Hide unnecessary scrollbars
 *  No light elements
 */


@-moz-document domain("discordapp.com") {

  /** ---- Server Area ---- **/
  .guilds-wrapper {
    border-right: none;
    position: relative;
    margin-top: -10px;
  }
  .guilds-wrapper .guilds .guild,
  .guilds-wrapper .guilds .guild .guild-inner a,
  .guilds-wrapper .guilds .guild .avatar-small,
  .guilds-wrapper .guilds .friends-icon,
  .guilds-wrapper .guilds-error {
    width: 35px;
    height: 35px;
  }
  .guilds-wrapper .guilds .guild .guild-inner a,
  .guilds-wrapper .guilds .guild .avatar-small {
    line-height: 33px;
  }
  .guilds-wrapper .guilds {
    margin-left: -2px;
    padding: 20px;
  }
  .guilds-wrapper .guilds .guild .avatar-small {
    background-size: 35px 35px;
  }
  .guilds-wrapper .guilds .guild .guild-inner {
    background: rgba(30, 30, 30, 0.9);
  }
  .guilds-wrapper .guilds .friends-icon {
    background-size: 27px 27px;
    margin-top: 2px;
  }
  .guilds-wrapper .guild-inner[style*="rgb"] {
    background-color: hsla(223, 5%, 3%, 0.4) !important;
  }
  .guilds-wrapper .guilds .friends-online {
    display: none;
  }
  .guilds-wrapper .guild-separator {
    display: none;
  }
  .guilds-add {
    opacity: 0.5;
    font-size: 35px !important;
  }
  .guilds-wrapper .guilds-error {
    line-height: 30px;
  }
  .guilds-wrapper .guilds .guild.unread::before {
    transition: 0.2s ease-in-out all;
    left: -23px;
    height: 15px;
    top: 42%;
    background: gray;
  }
  .guilds-wrapper .guilds .guild.selected::before {
    transition: 0.2s ease-in-out all;
    left: -23px;
    height: 30px;
    top: 62%;
    background: darkgray;
  }

  /** ---- Channel Area ---- **/
  .base-3AoPqv {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .channels-3g2vYe {
    width: 190px;
  }
  .containerDefault-1bbItS {
    padding-top: 14px;
  }
  .containerDefault-7RImuF {
    padding-right: 8px;
  }
  .accountDetails-15i-_e {
    min-width: 42px;
  }
  .menu-3BZuDT {
    background: #333 !important;
  }
  .separator-1hpa3S {
    display: none;
  }
  .menu-3BZuDT .item-rK1j5B:hover  {
    background-color: #444 !important;
  }
  .item-rK1j5B:hover.invite-YM1l0n {
    color: deepskyblue !important;
  }
  .item-rK1j5B:hover.leave-2bjeRM {
    color: lightcoral !important;
  }
  .alt-2vq4VR .item-rK1j5B:nth-of-type(1),
  .alt-2vq4VR .item-rK1j5B:nth-of-type(1):hover {
    color: #43B581 !important;
  }
  .alt-2vq4VR .item-rK1j5B:nth-of-type(3),
  .alt-2vq4VR .item-rK1j5B:nth-of-type(3):hover {
    color: #FAA61A !important;
  }
  .alt-2vq4VR .item-rK1j5B:nth-of-type(4),
  .alt-2vq4VR .item-rK1j5B:nth-of-type(4):hover {
    color: #F04747 !important;
  }
  .alt-2vq4VR .item-rK1j5B:nth-of-type(5),
  .alt-2vq4VR .item-rK1j5B:nth-of-type(5):hover {
    color: #747F8D !important;
  }
  .statusIconText-312Il7 .status {
    display: none !important;
  }
  .statusIconText-312Il7 {
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
  }
  .statusIconText-312Il7 ~ .helper-3X2gjI {
    text-align: center;
    color: silver !important;
    margin-left: auto !important;
    margin-right: auto;
  }

  /** ---- Chat Area ---- **/
  .chat .new-messages-bar {
    background: #444;
  }
  .chat .new-messages-bar:hover {
    background: #333;
  }
  .avatar-large {
    margin-left: 1.5px;
  }
  .message-group-blocked {
    display: none;
  }
  .messages .h1-DagER3 {
    color: #AAA !important;
  }
  .mention {
    border-radius: 5%;
  }
  .mention:hover {
    color: #DDD;
  }
  .attachment-1Vom9D .icon-3cn2VC {
    filter: grayscale(90%);
  }
  .attachment-1Vom9D .progress-32_u4R {
    background: #888;
  }
  .attachment-1Vom9D .progressBar-mI5LOq {
    background: darkgreen;
  }
  .message-group .emoji {
    width: auto !important;
    height: auto !important;
    max-width: 45px !important;
  }
  .reaction .emoji {
    width: 35px !important;
    height: auto;
    margin: 2px 0;
  }
  .messages-popout-wrap {
    width: 520px;
  }
  .modal-3HOjGZ {
    width: 520px;
    padding-right: 4px;
    background: #2f3136 !important;
  }
  .modal-3HOjGZ .footer-1PYmcw {
    box-shadow: none;
  }
  .modal-3HOjGZ button {
    margin-left: 6px;
  }
  .small-popout-box {
    background: #333;
    border: none;
  }
  .small-popout-box .btn-item:hover {
    background: rgba(0, 0, 0, 0.1);
    color: silver;
  }

  /** ---- Member Area ---- **/
  .channel-members-wrap {
    min-width: 200px;
  }
  .channel-members {
    max-width: 200px;
    margin-top: -15px;
  }
  .channel-members .member {
    padding: 5px 15px;
  }
  .channel-members h2 {
    right: -2px;
    padding: 1px 10px;
    text-align: center;
    position: relative;
  }
  .channel-members .member + h2 {
    margin-top: 10px;
  }
  .channel-members .member-username,
  .channel-members .member-activity-text {
    max-width: 125px;
  }
  .member-owner-icon {
    display: none;
  }
  .scrollerWrap-2uBjct {
    height: 110%;
  }

  /** --- Friend Area ---- **/
  .titleText-2IfpkV {
    position: relative;
    padding-left: 3px;
  }
  .titleText-2IfpkV .status {
    width: 16px !important;
    height: 16px !important;
    position: absolute;
    display: block;
    top: 1px !important;
    left: -1px !important;
    border-radius: 10px !important;
    pointer-events: none;
  }
  .private-38vo6h .channelIcon-1KtcMW {
    padding-right: 2px;
    color: #CCC;
  }
  .private-channels header {
    right: 2px;
    text-align: center;
    position: relative;
  }
  .private-channels .channel.selected,
  .private-channels .channel:hover {
    padding-right: 8px;
  }
  .friends-column-status .status {
    display: none !important;
  }
  .friends-column-status .status-online + .status-text {
    color: #43B581;
  }
  .friends-column-status .status-idle + .status-text {
    color: #FAA61A;
  }
  .friends-column-status .status-dnd + .status-text {
    color: #F04747;
  }
  .friends-column-status .status-invisible + .status-text,
  .friends-column-status .status-offline + .status-text {
    color: #747F8D;
  }

  /** ---- Avatars and Statuses ---- **/
  [class*="avatar"],
  .status,
  .status-se,
  .status-3jUEha,
  .image-EVRGPw,
  .guild-inner,
  .guilds-add,
  .guilds-error,
  .guild-placeholder,
  .embedAuthorIcon-S7s7pw,
  .icon-1RgidT,
  .emptyUser-34aCrC,
  .partyMemberUnknown-25cHNU {
    border-radius: 20% !important;
  }
  .status,
  .avatarStatus-3VdB8Y {
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    top: -2px !important;
    left: -2px !important;
  }
  .status-online,
  .xsmall-2rXiD4 .statusOnline-1Mp2_H {
    border: 2px solid #43B581 !important;
  }
  .status-idle,
  .xsmall-2rXiD4 .statusIdle-2AQdvu {
    border: 2px solid #FAA61A !important;
  }
  .status-dnd,
  .xsmall-2rXiD4 .statusDnd-35xAXU {
    border: 2px solid #F04747 !important;
  }
  .status-invisible,
  .status-offline,
  .xsmall-2rXiD4 .statusInvisible-2ci18Q,
  .xsmall-2rXiD4 .statusOffline-jZXr_u {
    border: 2px solid #747F8D !important;
    display: block !important;
  }
  .status-3jUEha {
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    top: -3px;
    left: -3px;
  }
  .large-3yh-62 .statusOnline-1Mp2_H {
    border: 3px solid #43B581 !important;
  }
  .large-3yh-62 .statusIdle-2AQdvu {
    border: 3px solid #FAA61A !important;
  }
  .large-3yh-62 .statusDnd-35xAXU {
    border: 3px solid #F04747 !important;
  }
  .large-3yh-62 .statusInvisible-2ci18Q,
  .large-3yh-62 .statusOffline-jZXr_u {
    border: 3px solid #747F8D !important;
    display: block !important;
  }
  .statusProfile-29OBzn {
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    top: -4px !important;
    left: -4px !important;
    pointer-events: none;
  }
  .statusOnlineProfile-2tnPUH {
    border: 4px solid #43B581 !important;
    box-shadow: none !important;
  }
  .statusIdleProfile-2QT8cN {
    border: 4px solid #FAA61A !important;
    box-shadow: none !important;
  }
  .statusDndProfile-3KCGdy {
    border: 4px solid #F04747 !important;
    box-shadow: none !important;
  }
  .statusInvisibleProfile-LRuFr_,
  .statusOfflineProfile-1wnfgz {
    border: 4px solid #747F8D !important;
    box-shadow: none !important;
  }
  .status.status-typing {
    width: 30px !important;
    background-color: transparent !important;
  }
  .status.status-typing .spinner .spinner-inner {
    left: 1px;
    top: 1px;
  }
  .avatarMasked-1DKyfL,
  .maskProfile-MeBve8,
  .mask-2vyqAW {
    -webkit-mask: none;
    mask: none;
  }
  .avatar-1pYW6h {
    margin-right: 2px;
  }
  .avatar-uploader-inner {
    background-color: #4f545c !important;
  }
  .avatar-uploader-inner {
    border-color: #808080 !important;
  }

  /** ---- User Modals ---- **/
  .userPopout-4pfA0d .body-3rkFrF,
  .userPopout-4pfA0d .footer-2J5zqP,
  .root-2sNHUF .body-3_tdh6,
  .topSectionPlaying-3jAH9b,
  .topSectionStreaming-3rIBIm,
  .topSectionSpotify-3744IX,
  .headerPlaying-2eYqm9,
  .headerStreaming-3F-wjT,
  .headerSpotify-1fSJPO,
  #autocomplete-popout .autocomplete-scroller {
    background: #202225 !important;
  }
  .headerPlaying-2eYqm9 .activity-AFBUEw,
  .topSectionPlaying-3jAH9b .activityProfile-2pymp0 {
    background-color: hsla(210, 40%, 13%, 0.7);
  }
  .headerStreaming-3F-wjT .activity-AFBUEw,
  .topSectionStreaming-3rIBIm .activityProfile-2pymp0 {
    background-color: hsla(288, 40%, 13%, 0.7);
  }
  .headerSpotify-1fSJPO .activity-AFBUEw,
  .topSectionSpotify-3744IX .activityProfile-2pymp0 {
    background-color: hsla(133, 33%, 10%, 0.7)
  }
  .addButton-3RuTE0,
  .role-3rahR_,
  .roleCircle-3-vPZq {
    border-radius: 4px;
  }
  .connectedAccounts-3WWAND {
    margin-bottom: 5px;
  }
  .connectedAccount-3mKaTA   {
    border: 2px solid #111 !important;
  }
  .connectedAccountOpenIcon-2J8hDS:hover {
    filter: brightness(150%);
  }
  #autocomplete-popout h3 {
    margin-left: 55px;
  }

  /** ---- Server Modal ---- **/
  .create-guild-container.deprecated,
  .create-guild-container.deprecated .form-inner,
  .create-guild-container.deprecated .create-or-join .form-inner,
  .create-guild-container.deprecated .form-actions,
  .create-guild-container.deprecated .form-actions .btn-default {
    background: #222;
    border: none;
  }
  .create-guild-container.deprecated header,
  .create-guild-container.deprecated .action-header,
  .create-guild-container.deprecated h5,
  .regionSelectModalHeader-33y0EU {
    color: #AAA !important;
  }
  .create-guild-container.deprecated .create-or-join .action {
    background: #333;
  }
  .create-guild-container.deprecated .action-icon {
    filter: grayscale(90%) brightness(90%);
  }
  .create-guild-container.deprecated input,
  .create-guild-container.deprecated input:focus {
    background: #333 !important;
    color: white !important;
    border-bottom: none !important;
  }
  .create-guild-container.deprecated input[id="guild-name"] {
    padding-left: 5px;
  }
  .create-guild-container.deprecated .create-or-join .actions .or {
    background: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    padding-top: 0;
    left: 234px;
    top: 215px;
    box-shadow: -2px  0px #222,
                 0px  2px #222,
                 2px  0px #222,
                 0px -2px #222;
  }

  /** ---- Region Modal ---- **/
  .regionSelectModal-QBpi1R {
    background: #222;
  }
  .regionSelectInner-1cIYbU,
  .regionSelectInner-1cIYbU + button {
    border-color: #111 !important;
    color: lightgray;
  }
  .regionSelect-1lpijo:hover button {
    background: rgba(25, 25, 25, 0.9);
  }
  .regionSelectModalOption-3giLPN {
    background: #333 !important;
    border-color: #222 !important;
  }
  .regionSelectModalOption-3giLPN:hover {
    border-color: #111 !important;
  }

  /** ---- Upload Modal ---- **/
  .uploadModal-2KN6Mm,
  .uploadModal-2KN6Mm .footer-4pOKm8,
  .uploadDropModal-BpFgz7 .bgScale-1i4Cp3 {
    background-color: #222 !important;
  }
  .uploadModal-2KN6Mm .inner-1-09ZV,
  .uploadDropModal-BpFgz7.inner-1-09ZV {
    border-color: gray;
  }
  .uploadModal-2KN6Mm .inner-1-09ZV textarea {
    background-color: #393b40;
    border-radius: 5px;
  }
  .uploadModal-2KN6Mm .inner-3if5cm {
    background: inherit;
  }
  .uploadModal-2KN6Mm .button {
    border-radius: 5px;
    margin-left: 3.5px;
  }
  .uploadModal-2KN6Mm .icon-19bbE_,
  .uploadDropModal-BpFgz7 .icon-19bbE_ {
    filter: grayscale(90%);
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR {
    background: #222;
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR .divider-2JwdCF {
    display: none;
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR .flexChild-1KGW5q:first-child {
    color: #DDD;
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR .selectable-3iSmAf .content-249Pr9 {
    color: #CCC;
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR .selectorSelected-2M0IGv {
    background: rgba(65, 65, 65, 0.6);
  }
  .uploadModal-2KN6Mm .autocomplete-1TnWNR .selectorSelected-2M0IGv .content-249Pr9 {
    color: #BBB;
  }

  /** ---- Invite Modal ---- **/
  .wrapper-VSYYTS,
  .instantInviteModal-5L33Qh .form-header,
  .instantInviteModal-5L33Qh .form-inner,
  .instantInviteModal-5L33Qh .form-actions,
  .instantInviteModalAdvanced-38f2M0 .form-inner,
  .instantInviteModalAdvanced-38f2M0 .form-actions {
    background: #222 !important;
  }
  .instantInviteModal-5L33Qh header {
    color: darkgray !important;
  }
  .instantInviteModal-5L33Qh .blurb-ArHxCz {
    color: silver !important;
  }
  .instantInviteModal-5L33Qh span,
  .instantInviteModalAdvanced-38f2M0 span {
    color: #CCC;
  }
  .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    font-size: 22px;
  }
  .wrapper-VSYYTS .clipboardInputInner-oj8y-S,
  .wrapper-VSYYTS .clipboardInputInner-oj8y-S input,
  .wrapper-VSYYTS .clipboardInputInner-oj8y-S button::before {
    background: #333 !important;
    border: none !important;
  }
  .wrapper-VSYYTS .Select-control,
  .wrapper-VSYYTS .Select-control .Select-arrow,
  .wrapper-VSYYTS .Select-option {
    background: #333 !important;
    border-color: #333 !important;
  }
  .wrapper-VSYYTS .is-focused .Select-control,
  .wrapper-VSYYTS .Select-control:hover,
  .wrapper-VSYYTS .Select .Select-menu-outer {
    border-color: #111 !important;
  }
  .wrapper-VSYYTS .Select .is-focused {
    background: hsla(0, 0%, 10%, 0.85) !important;
  }
  .wrapper-VSYYTS .Select-value .Select-value-label,
  .wrapper-VSYYTS .Select-option {
    color: silver !important;
  }
  .instantInviteModalAdvanced-38f2M0 .btn {
    padding: 7.5px 15px;
    border-radius: 3px;
    border-bottom: none;
    margin-right: -12px;
    margin-top: 10px;
    left: 13px;
  }
  .instantInviteModalAdvanced-38f2M0 .btn:hover {
    border-bottom: none;
  }

  /** ---- Keybinds Modal ---- **/
  .keyboard-shortcuts-modal,
  .dim-40B2HH span {
    background: #2f3136 !important;
  }
  .keyboard-shortcuts-modal .modal-title,
  .keyboard-shortcuts-modal .modal-subtitle,
  .keybind-description,
  .keybind-shortcut {
    color: darkgray !important;
  }
  .keybindShortcut-tTramc span {
    color: silver;
  }
  .keybindShortcut-tTramc span:active {
    color: gray;
  }
  .keybindShortcut-tTramc span g {
    fill: silver;
  }
  .keybindShortcut-tTramc span:active g {
    fill: gray;
  }
  .keyboard-shortcuts-modal .ddr-arrows {
    filter: grayscale(90%) brightness(85%);
  }

  /** ---- Help Modal ---- **/
  .need-help-modal.deprecated .header,
  .need-help-modal.deprecated .form-inner.loading,
  .need-help-modal.deprecated .footer {
    background: #222 !important;
    border: none;
  }
  .need-help-modal.deprecated .header .old-h1 {
    color: #AAA;
  }
  .need-help-modal.deprecated .header input[type=text],
  .need-help-modal.deprecated .header input[type=text]:focus {
    border-radius: 10px !important;
    background: #333 !important;
    color: white;
    box-shadow: none !important;
    border-bottom: none;
  }

  /** ---- Search ---- **/
  .search-popout,
  .search-popout .results-group,
  .search-popout .search-query,
  .search-popout .option::after {
    background: #2f3136 !important;
  }
  .search-popout .results-group:before {
    display: none;
  }
  .search-popout .search-option .filter {
    color: #808080;
  }
  .search-popout .option.user .displayed-nick {
    color: gray;
  }
  .search-popout .option.selected:not(.search-query),
  .search-popout .option.selected::after {
    background-color: rgba(37, 35, 35, 0.9) !important;
  }
  .search-popout .option.selected:after {
    width: 25px;
  }

  /** ---- Date Picker ---- **/
  [class^="react-datepicker"] {
    background-color: #2f3136 !important;
  }
  .react-datepicker__current-month {
    border: none !important;
    color: #EEE !important;
  }
  .react-datepicker__day-name {
    color: #DDD !important;
  }
  .react-datepicker__day {
    border-color: #111 !important;
    color: #BBB !important;
  }
  .react-datepicker__day:hover {
    background-color: rgba(60, 62, 66, 0.9) !important;
  }
  .react-datepicker__day--outside-month {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #777 !important;
  }
  .react-datepicker__day--selected::after {
    background-color: hsla(220, 10%, 12%, 0.8) !important;
  }
  .react-datepicker__day--disabled,
  .react-datepicker__day--disabled:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #666 !important;
  }
  .date-picker,
  .date-picker-hint,
  .react-datepicker__navigation {
    border: none !important;
  }
  .date-picker .date-picker-hint .hint-value {
    background: #444 !important;
  }

  /** ---- Buttons ---- **/
  .actionButton-3SG1Zj,
  .smallGrow-2_7ZaC,
  .mediumGrow-uovsMu,
  .largeGrow-2_1w2U,
  .tab-bar-item-primary:not(.selected),
  .wrapper-FOHcde .btn,
  #friends .friends-empty .btn,
  .pill-1nbD-Z,
  .questionMark-1R8WLs,
  .instantInviteModalAdvanced-38f2M0 .btn,
  .premiumPromo-HqV_qx .btn,
  .create-guild-container.deprecated .action .btn,
  .create-guild-container.deprecated .btn-primary,
  .clipboardInputInner-oj8y-S button,
  .uploadModal-2KN6Mm .button,
  .private-channel-recipients-invite button,
  .primaryButton-1ZHZe8 {
    background: slategray !important;
    color: white !important;
  }
  .actionButton-3SG1Zj:hover,
  .smallGrow-2_7ZaC:hover,
  .mediumGrow-uovsMu:hover,
  .largeGrow-2_1w2U:hover,
  .tab-bar-item-primary:hover:not(.selected),
  .wrapper-FOHcde .btn:hover,
  #friends .friends-empty .btn:hover,
  .pill-1nbD-Z:hover,
  .questionMark-1R8WLs:hover,
  .instantInviteModalAdvanced-38f2M0 .btn:hover,
  .premiumPromo-HqV_qx .btn:hover,
  .create-guild-container.deprecated .action:hover .btn,
  .create-guild-container.deprecated .action:hover.join .btn,
  .create-guild-container.deprecated .btn-primary:hover,
  .clipboardInputInner-oj8y-S button:hover,
  .uploadModal-2KN6Mm .button:hover,
  .private-channel-recipients-invite button:not(:disabled):hover,
  .primaryButton-1ZHZe8:hover {
    background: darkslategray !important;
    color: white !important;
  }
  .buttonRedFilledDefault-1TrZ9q,
  .buttonRedOutlined-2t9fm_ {
    background-color: crimson !important;
  }
  .buttonRedFilledDefault-1TrZ9q:hover,
  .buttonRedOutlined-2t9fm_:hover {
    background-color: firebrick !important;
  }
  .buttonPrimaryLinkDefault-1PQflF {
    margin-right: 5px;
  }
  .add-game-popout button {
    margin-left: 5px;
  }
  .connectionDelete-1E0cwj,
  .removeKeybind-1f2bpW,
  .removeWebhook-2aJ7CC,
  .revoke-invite,
  .remove-game,
  .removeOverride-2kSxAp {
    border-radius: 20%;
  }
  .sizeDefault-rZbSBU,
  .ui-standard-sidebar-view .btn-close {
    border-radius: 10px !important;
  }
  .clipboardInputInner-oj8y-S button {
    border: none;
  }
  .removeKeybind-1f2bpW,
  .revoke-invite,
  .remove-game {
    top: -3px !important;
    right: -23px !important;
  }
  .removeWebhook-2aJ7CC,
  .removeOverride-2kSxAp {
    top: -3px !important;
    right: -5px !important;
  }
  .more-mutual-guilds-btn {
    border-radius: 7px !important;
    height: 31px !important;
    width: 31px !important;
  }

  /** ---- Settings ---- **/
  .user-settings-games .not-detected {
    background-color: #2f3136 !important;
  }
  .user-settings-games .now-playing {
    background-color: hsla(210, 40%, 13%, 0.7) !important;
  }
  .user-settings-locale .icon-3j0iot {
    visibility: hidden;
  }
  .user-settings-locale .cardPrimary-ZVL9Jr::before {
    content: "";
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g fill="none" fill-rule="evenodd"><path d="M0 0h36v36H0z"/><path fill="#4454b7" d="M19.305 22.605l-3.81-3.765.045-.045c2.61-2.91 4.47-6.255 5.565-9.795H25.5V6H15V3h-3v3H1.5v3h16.755c-1.005 2.88-2.595 5.625-4.755 8.025A23.4678 23.4678 0 0 1 10.035 12h-3c1.095 2.445 2.595 4.755 4.47 6.84L3.87 26.37 6 28.5l7.5-7.5 4.665 4.665 1.14-3.06zM27.75 15h-3L18 33h3l1.68-4.5h7.125L31.5 33h3l-6.75-18zm-3.93 10.5l2.43-6.495 2.43 6.495h-4.86z"/></g></svg>');
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-3DrRmC a {
    color: #00b0f4 !important;
    font-weight: normal;
  }
  #friends .tab-bar .selected,
  .itemSelected-3XxAMf,
  #bd-settings-sidebar .selected,
  .container-Q1c3uJ.hover-1civje button {
    background: rgba(40, 40, 40, 0.8) !important;
    color: white !important;
  }
  .item-2zi_5J[style*="rgb"] {
    background: rgba(40, 40, 40, 0.8) !important;
    border-color: #111 !important;
  }
  .valueChecked-3Bzkbm,
  .checked-2TahvT,
  .checkbox-inner input:checked + span,
  .allowSelected-1FAg8y {
    background: darkgreen !important;
    border-color: darkgreen !important;
  }
  .passthroughSelected-3_g4oB {
    background: #696969 !important;
  }
  .denySelected-h37B9e {
    background: #a52929;
    border-color: #a52929 !important;
  }
  .checkbox input[type=checkbox]:checked + span::after {
    border-color: #CCC !important;
  }
  .checkbox-1QwaS4 .focused-1rg4X4 {
    box-shadow: 0 0 0 2px hsla(220, 10%, 50%, 0.3) !important;
  }
  .wrapper-VSYYTS .checkbox-inner span {
    border-color: #111 !important;
  }
  .checked-2TahvT polyline,
  .item-2zi_5J .checkbox-1QwaS4[value="on"] polyline {
    stroke: #CCC;
  }
  .barFill-18ABna {
    background: #222;
  }
  .barFill-18ABna[style*="rgb(105, 196, 154)"] {
    background: darkgreen !important;
  }
  .bar-2cFRGz[style*="rgb(251, 184, 72)"] {
    background: #4f545c !important
  }
  .item-3879bf[style*="rgb(114, 137, 218)"]:not(.selected-eNoxEK) {
    color: gold !important;
  }
  .item-3879bf[style*="rgb(114, 137, 218)"]:not(.selected-eNoxEK):hover {
    background: hsla(51, 100%, 50%, 0.1) !important;
  }

  /** ---- Emoji Picker ---- **/
  .emojiPicker-3g68GS,
  .emojiPicker-3g68GS .header-27dQ-e,
  .emojiPicker-3g68GS .search-bar,
  .emojiPicker-3g68GS .category-3rCtoh,
  .diversitySelector-O3ea2c .popout-2lja3I {
    background: #333;
    border: none;
  }
  .emojiPicker-3g68GS .categories-jw8z2h,
  .emojiPicker-3g68GS .categories-jw8z2h .item-lsWB-j {
    height: 30px;
  }
  .emojiPicker-3g68GS .categories-jw8z2h .item-lsWB-j.selected-1LQfcZ {
    border: 2px dotted #222 !important;
  }
  .emojiPicker-3g68GS .search-bar-inner {
    background: #2d2b2b !important;
    border: 1px solid rgba(40, 35, 35, 0.9) !important
  }
  .emojiPicker-3g68GS .search-bar-icon .icon.visible {
    opacity: 1;
  }
  .emojiPicker-3g68GS .search-bar input {
    color: #BBB;
  }
  .emojiItem-3l4Fa9.selected-1LQfcZ {
    background-color: hsla(0, 3%, 30%, 0.6) !important;
  }
  .emojiPicker-3g68GS .dimmer-jySV_v {
    transition: none;
    -webkit-transition: none;
  }
  .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
    background-color: hsla(210, 9%, 31%, 0.6);
    border-top-right-radius: 0;
  }
  .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m ~ .scrollerWrap-EC-dSj .category-3rCtoh:nth-child(1) {
    background-color: hsla(213, 7%, 26%, 1);
    color: rgba(152, 170, 182, 0.5);
  }
  .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m ~ .header-27dQ-e,
  .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m ~ .header-27dQ-e .search-bar {
    background-color: hsla(213, 7%, 26%, 1);
    border: none;
  }
  .emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m ~ .header-27dQ-e .search-bar-inner {
    background-color: hsla(210, 9%, 31%, 0.6) !important;
    border-color: transparent !important;
  }
  .emojiPicker-3g68GS .no-search-results .sad-discord {
    background-image: url('data:image/svg+xml;utf8,<svg width="90" height="90" xmlns="http://www.w3.org/2000/svg"><style id="dark-mode-custom-style"/><g id="General-Playground" fill="none" fill-rule="evenodd"><g id="empty-emoji-light"><g id="Page-1" transform="translate(4 5)"><path d="M80 40c0 22.091-17.909 40-40 40S0 62.091 0 40 17.909 0 40 0s40 17.909 40 40" id="Fill-1" fill="#333"/><path d="M80 40c0 22.091-17.909 40-40 40S0 62.091 0 40 17.909 0 40 0s40 17.909 40 40z" id="Stroke-3" stroke="#99AAB5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M22 41.6416c0 2.761-2.239 5-5 5s-5-2.239-5-5 2.239-5 5-5 5 2.239 5 5" id="Fill-5" fill="#99AAB5"/><path d="M68 41.6416c0 2.761-2.239 5-5 5s-5-2.239-5-5 2.239-5 5-5 5 2.239 5 5" id="Fill-7" fill="#99AAB5"/><path d="M50 59.4827c-5.846-4.677-14.154-4.677-20 0" id="Stroke-9" stroke="#99AAB5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M81.2071 66.9749c0 5.708-4.627 10.335-10.335 10.335-5.707 0-10.334-4.627-10.334-10.335 0-5.708 10.334-18.335 10.334-18.335s10.335 12.627 10.335 18.335" id="Fill-11" fill="#333"/><path d="M81.2071 66.9749c0 5.708-4.627 10.335-10.335 10.335-5.707 0-10.334-4.627-10.334-10.335 0-5.708 10.334-18.335 10.334-18.335s10.335 12.627 10.335 18.335z" id="Stroke-13" stroke="#99AAB5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g></g></g></svg>');
  }
  .premiumPromo-HqV_qx {
    background: #333;
  }
  .premiumPromoTitle-q7xvT_ {
    color: gray;
  }
  .premiumPromoDescription-3ldaqG {
    color: silver;
  }
  .premiumPromoImage-EF7d-a {
    filter: brightness(80%);
  }

  /** ---- Invite Embeds ---- **/
  .userSelectNone-Kq5Tpz .buttonPrimaryOutlinedDefault--H0hhk,
  .userSelectNone-Kq5Tpz .buttonPrimaryOutlinedDefault--H0hhk:hover {
    background: #275027 !important;
  }
  .guildDetail-1-o1X5 .status-1SnIoF {
    display: none;
  }
  .guildDetail-1-o1X5 span {
    font-size: 105%;
    margin-top: 3px;
    color: #747f8d;
  }
  .guildDetail-1-o1X5 .onlineCount-2__VKq {
    color: #43b581;
  }

  /** ---- Loading ---- **/
  .channel-members-loading,
  .channel-members-loading .spinner-inner {
    background-image: url("https://observeroftime.github.io/DiscordThemes/NewNihilism/img/loading.svg") !important;
    background-color: hsla(218, 7%, 23%, 1) !important;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
  }
  .channel-members-loading .background,
  .channel-members-loading .heading,
  .channel-members-loading .member {
    background: transparent !important;
  }
  .spinner-wandering-cubes,
  .spinner-2szMS3,
  .spinningCircleInner-2putKt {
    background-image: url("https://observeroftime.github.io/DiscordThemes/NewNihilism/img/loading.svg") !important;
    background-color: transparent !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible !important;
    z-index: 999 !important;
  }
  .spinner-wandering-cubes .spinner-item,
  .wanderingCubesItem-35kyMu,
  .spinningCircle-2mRBGy,
  .circular-2U7_1N {
    visibility: hidden !important;
  }

  /** ---- Tooltips ---- **/
  .tooltip {
    background: #555 !important;
  }
  .tooltip-bottom::after {
    border-bottom-color: #555 !important;
  }
  .tooltip-right::after {
    border-right-color: #555 !important;
  }
  .tooltip-left::after {
    border-left-color: #555 !important;
  }
  .tooltip-top::after {
    border-top-color: #555 !important;
  }

  /** ---- Scrollbars ---- **/
  .scroller-wrap .scrollbar {
    width: 17px;
  }
  .scrollbar::after {
    visibility: hidden;
  }
  div[class*="scroller"] {
    overflow-x: hidden !important;
  }
  .messages-wrapper .scroller-wrap .track {
    background: #36393e !important;
  }
  .messages-wrapper .scroller-wrap .thumb {
    min-height: 30px;
    width: 15px
  }
  .emojiPicker-3g68GS .scrollbar-2so3Ly,
  .emojiPicker-3g68GS .track-2Kex6E,
  .emojiPicker-3g68GS .thumb-3VsfAI,
  .emojiPicker-3g68GS .pad-3D5tOh {
      background: #333 !important;
      margin-left: 5px;
  }
  .containerDefault-1bbItS,
  .containerDefault-7RImuF {
    width: 110%;
  }

  /** ---- Misc ---- **/
  .botTag-1OwMgs {
    height: 12px;
    background: rgba(10, 20, 40, 0.9);
    color: #FFF;
    padding: 3px 4px;
  }
  .channel-members .botTag-1OwMgs {
    padding: 1px 2.5px;
    margin-top: 1px;
  }
  .guild-settings-members-member .botTag-1OwMgs {
    height: 16px;
    padding: 1px 2.5px;
    line-height: 15px;
  }
  .ghostPill-1yup5q,
  .round-30vw42 {
    border-radius: 4px;
  }
  .quickswitcher-2NdiGJ .input-MwQhcX {
    background: #222 !important;
  }
  .inputWrapper-3xoRWR .input-2YozMi:focus {
    border-color: #111;
  }
  .pro-1IhGKk {
    color: #BBB;
  }
  .cardWarning-31DHBH {
    background: #F04747;
    border: none;
  }
  .container-1WaXoH header,
  .container-1WaXoH section {
    background-color: #444 !important;
  }
  .container-1WaXoH p {
    color: #CCC !important;
  }
  .container-1WaXoH hr {
    display: none;
  }
  .sidebar .side-2nYO0F {
    text-align: center;
  }
  .notice-3I4-y_ {
    border-radius: 0 !important;
  }
  .no-search-results .sad-discord {
    background-image: url('data:image/svg+xml;utf8,<svg width="97" height="70" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style id="dark-mode-custom-style"/><defs><path id="path-1" d="M0 .3437h97V70H0"/></defs><g id="General-Playground" fill="none" fill-rule="evenodd"><g id="Page-1"><g id="Group-3"><path d="M63.7925 49.8218c-4.6413 0-8.404-4.0841-8.404-9.1215 0-2.3507.8195-4.4933 2.165-6.1107l14.3903 8.3344c-.915 3.9626-4.2167 6.8978-8.1513 6.8978m-30.5849 0c-3.9346 0-7.2363-2.9352-8.1513-6.8978l14.3903-8.3344c1.3454 1.6174 2.165 3.76 2.165 6.1107 0 5.0374-3.7628 9.1215-8.404 9.1215m51.6637-40.633C75.2377 1.1177 62.0015.3436 62.0015.3436l-1.102 1.3823c12.399 2.9144 21.4919 10.5037 21.4919 10.5037C66.2466 2.9896 48.5 4.2133 48.5 4.2133s-17.7465-1.2237-33.8913 8.0163c0 0 9.0925-7.5893 21.492-10.5037L34.9985.3436s-13.2363.7741-22.8699 8.8452c0 0-12.4127 21.9-12.1239 48.6489 0 0 6.9866 11.8426 25.3499 12.1622l5.7864-7.1866s-4.8862-.3223-10.195.2763c0 0 8.0606-3.317 27.554-3.317 19.4932 0 27.5538 3.317 27.5538 3.317-5.3088-.5986-10.195-.2763-10.195-.2763l5.7865 7.1866c18.3633-.3196 25.3495-12.1622 25.3495-12.1622.2891-26.7489-12.1236-48.6489-12.1236-48.6489" id="Fill-1" fill="#99AAB5"/></g><path d="M60 67c-2.7615 0-5-2.2612-5-5.0507C55 59.1597 60 51 60 51s5 8.1597 5 10.9493C65 64.7388 62.7615 67 60 67z" id="Fill-4" fill="#99AAB5"/><path d="M65 61.9493C65 64.7388 62.7615 67 60 67s-5-2.2612-5-5.0507C55 59.1597 60 51 60 51s5 8.1597 5 10.9493z" id="Stroke-6" stroke="#222" stroke-width="1"/></g></g></svg>');
  }


  /** ---- Web Stuff ---- **/

  /** ---- Hide Apps Button ---- **/
  .guilds-wrapper .btn-download-apps {
    display: none;
  }

}
